{% extends 'main-template.html' %} {% block content %}

<div class="container search_container">

    <div class="user_container">
        {% if request.user.is_authenticated %} {{request.user}}

        <a href="{% url 'logout' %}">Log Out</a> {% else %}
        <a href="{% url 'login' %}">Log In</a> {% endif %}
    </div>
    <form method="GET" class="input_box">
        <input type="text" name="search" class="search_box" value="{{search_input}}">
        <span class="icon">
        <input type="submit" class="button search_icon" value="Search">
        </span>
    </form>

</div>

<div class="container">
    <p class="container_title"> You have {{count}} tasks to do</p>
    <a href="{% url  'create' %}" class="button">Create task</a>

</div>
<div class="tacks_container container">
    {% for list in lists %}
    <div class="task">

        <div class="rating_conteiner">

            {% for i in '01234'|make_list %} {% if task.importancy >= forloop.counter %} <span>&starf;</span> {% else %} <span> &star; </span> {% endif %} {% endfor %}

        </div>


        <p class="task_title">{{task.title}}</p>
        <p> {{task.description}} </p>
        <p> {{task.categories}} </p>
        <p>deadline: {{task.deadline}} </p>





        <div class="todo_buttons__container">
            <div class="todo_buttons__list">
                <a href="{% url  'complete' task.id %}" class="button todo_button ">Complete</a>
                <a href="{% url  'update' task.id %}" class="button todo_button light"> Edit</a>
                <a href="{% url  'delete' task.id %}" class="button todo_button light">Delete</a>
            </div>
        </div>
    </div>
    {% empty %}
    <h3 class="h3">Nothing to do</h3>
    {% endfor %}
</div>

<div class="container">
    <p> You completed {{count_completed}} tasks</p>
</div>
<div class="tacks_container container completed_container">
    {% for task_completed in tasks_completed %}


    <div class="task completed">

        <p class="task_title task_title__completed"> {{task_completed.title}}</p>
        <p> {{task_completed.description}} </p>

    </div>
    {% empty %}

    <h3 class="h3">No completed</h3>
    {% endfor %}

</div>

{% endblock content %}