{% extends 'main-template.html' %} {% block content %} {% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a href="{% url 'logout' %}">Log Out</a> {% else %}
<a href="{% url 'login' %}">Log In</a> {% endif %}

<form method="GET">
    <input type="text" name="search" value="{{search_input}}">
    <input type="submit" value="Search">
</form>
<br>
<h1 class="h1">My todo list</h1>
<a href="{% url  'create' %}">Create task</a>
<table class="table">
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td>
            <a href="{% url  'details' task.id %}">View</a>
        </td>
        <td>
            <a href="{% url  'update' task.id %}">Edit</a>
        </td>
        <td>
            <a href="{% url  'delete' task.id %}">Delete</a>
        </td>
    </tr>
    {% empty %}
    <h3 class="h3">No items in list</h3>
    {% endfor %}
</table>
{% endblock content %}