{% extends 'main-template.html' %} {% block content %} {% if request.user.is_authenticated %}
<p>{{request.user}}</p>
<a href="{% url 'logout' %}">Log Out</a> {% else %}
<a href="{% url 'login' %}">Log In</a> {% endif %}

<div class="container search_container">
    <form method="GET">
        <input type="text" name="search" value="{{search_input}}">
        <input type="submit" value="Search">
    </form>
</div>

<div class="container">
    <p class="container_title"> You have {{count}} tasks to do</p>
    <a href="{% url  'create' %}" class="button">Create task</a>

</div>
<div class="tacks_container container">
    {% for task in tasks %}
    <div class="task">

        <div class="rating_conteiner">


            {% for i in '01234'|make_list %} {% if task.importancy >= forloop.counter %} <span>&starf;</span> {% else %} <span> &star; </span> {% endif %} {% endfor %}

        </div>


        <p class="task_title">{{task.title}}</p>
        <p> {{task.description}} </p>
        <p> {{task.categories}} </p>
        <p>deadline: {{task.deadline}} </p>
        <p>importancy: {{task.importancy}} </p>




        <div class="todo_buttons__container">
            <div class="todo_buttons__list">
                <a href="{% url  'complete' task.id %}" class="todo_button ">Complete</a>
                <a href="{% url  'update' task.id %}" class="todo_button light"> Edit</a>
                <a href="{% url  'delete' task.id %}" class="todo_button light">Delete</a>
            </div>
        </div>
    </div>
    {% empty %}
    <h3 class="h3">Nothing to do</h3>
    {% endfor %}
</div>

<p> You completed {{count_completed}} tasks</p>
<div class="tacks_container container completed_container">
    {% for task_completed in tasks_completed %}


    <div class="task completed">

        <p class="task_title task_title__completed"> {{task_completed.title}}</p>
        <p> {{task_completed.description}} </p>

    </div>
    {% empty %}

    <h3 class="h3">No completed</h3>
    {% endfor %}

</div>

{% endblock content %}